<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        label {
    margin-left: 15px;
}
p#text {
    margin-left: 15px;
}
.topnav {
    overflow: hidden;
    background-color: #1F2833;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.card {
    box-shadow: 10px 5px 5px grey;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #1ec98a;
    border-radius: 15px;
}
.card2 {
    box-shadow: 10px 5px 5px grey;
    max-width: 300px;
    margin-left: 15px;
    text-align: left;
    background-color: #1ec98a;
    border-radius: 15px;
    margin-top: 5px;
    position: relative;
    right: -1590px;
    top: -275px;
}
p#cardText {
    margin-left: 15px;
}
button#notification {
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 10px 5px 5px grey;
    position: relative;
    right: -1780px;
    top: -275px;
}
button#notification:hover {
    background: red;
}
span#badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
    </style>
    <title>Profile</title>
    
    <script>let base64String = "";
  
        function imageUploaded() {
            var file = document.querySelector(
                'input[type=file]')['files'][0];
          
            var reader = new FileReader();
            console.log("next");
              
            reader.onload = function () {
                base64String = reader.result.replace("data:", "")
                    .replace(/^.+,/, "");
          
                imageBase64Stringsep = base64String;
          
                // alert(imageBase64Stringsep);
                console.log(base64String);
                let preview = document.querySelector('#preview')
                preview.src = reader.result
            }
            reader.readAsDataURL(file);
        }
          
        function displayString() {
            console.log("Base64String about to be printed");
            alert(base64String);
            
            
        }
        function complete(){
            document.getElementById('imageid').value = base64String
        }
        </script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a style="font-family: 'Fredoka', sans-serif;" href="/" class="active">Home</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/intro">Intro</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/signup">Sign Up</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/api">API</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/all">All</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/forgot">Forgot</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/login">Login/Logout</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="/profile">Profile</a>
        <a style="font-family: 'Fredoka', sans-serif;" href="javascript:void(0);" class="icon" onclick="myNav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    
    
        
        <div class="card" style="margin-left: 15px;">
            <h1 style="font-family: 'Fredoka', sans-serif;margin-left: 15px;">Select Your Profile Picture</h1>
            <form method="post" action="/profilepicture" style="margin-left: 15px;font-family: 'Fredoka', sans-serif;">
                <input type="file" name="fileing" id="fileId" accept="image/*"
                
                onchange="imageUploaded()">
                <input type="hidden" name="imageid" id="imageid" value="" >
                <br>
            <input type="submit" value="Submit" id="sumbit" onclick="complete()">
            </form>
            <img id="preview" src="" alt="Preview your profile picture" height="75" width="75" style="margin-bottom: 5px;">
        </div>
        <div class="card" style="margin-left: 15px;">
            <form action="/change_password" method="POST">
                <h2 id="main" style="font-family: 'Fredoka', sans-serif;">Change Password</h2>

                <input style="font-family: 'Fredoka', sans-serif;" type="text" class="box" id="email" name="email"
                    placeholder="Email" required />
                <br>

                <input style="font-family: 'Fredoka', sans-serif;" type="password" class="box" id="password"
                    name="password" placeholder="Password" required />
                <br>
                <input style="font-family: 'Fredoka', sans-serif;" type="password" class="box" id="new_password"
                    name="new_password" placeholder="New Password" required />
                <br>
                <input style="font-family: 'Fredoka', sans-serif;" type="submit" value="Submit" id="submit" />
                <button style="font-family: 'Fredoka', sans-serif;" onclick="window.location.href='/forgot'">Forgot
                    Password</button>
            </form>
        </div>
        
        <div>
            <button type="button" onclick="window.location.href='/profile'">Profile</button>
        </div>


        <script>
            function myFunction() {
                var checkBox = document.getElementById("myCheck");
                var text = document.getElementById("text");
                if (checkBox.checked == true) {
                    text.style.display = "inline-block";
                } else {
                    text.style.display = "none";
                }
            }
            function myNav() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            function onMessage() {
                var x = document.getElementById("myDIV");
                let noti = document.getElementById('badge')
                if (x.style.display === "none") {
                    x.style.display = "inline-block";
                    
                    noti.style.display = "none"
                } else {
                    x.style.display = "none";
                }
            }
        </script>
</body>

</html>