.container {
    text-align: center;
    margin-bottom: 20px;
}

#result {
    text-align: center;
    border: 1px solid black;
    height: 15px;
    width: 225px;
    color: #fff;
    margin: auto;
    padding: 5px;
    background-color: black;
}